**/*.jpg
**/__pycache__
test.py
**/.DS_Store
Resumes Datasets
**/*.zip
.DS_Store
gpt_key.json
.ipynb_checkpoints
job_description2.txt

julie_workstation.ipynb


web_ui.py
record_1.json

pipy_token.txt